@extends("<%= theme_name_lower %>::frontend.layouts.default")

@section('vaahcms_extend_frontend_head')

@endsection

@section('vaahcms_extend_frontend_css')

@endsection

@section('vaahcms_extend_frontend_scripts')

@endsection

@section('content')
<div id="frontendApp">
    <div class="section">

        <!--columns-->
        <div class="columns is-centered" id="loginSignUpApp">
            <div class="column is-5">
                <h4 class="title is-4">Sign In</h4>

                <form @submit="loginPost($event)">

                    <div class="field">
                        <b-radio v-model="login.type"
                                 native-value="password">
                            Signin via Password
                        </b-radio>
                    </div>

                    <div class="field">
                        <b-radio v-model="login.type"
                                 native-value="otp">
                            Signin via OTP
                        </b-radio>
                    </div>




                    <b-field label="">
                        <b-input native-type="email"
                                 expanded
                                 v-model="login.email"
                                 required placeholder="Email"></b-input>
                    </b-field>

                    <b-field label="" v-if="login.type == 'otp'">
                        <b-button @click="generateOtp($event)"
                                  :loading="btn_generate_otp_loading"
                                  :type="{'is-danger': login.attempts >= login.max_attempts}"
                        >Generate OTP</b-button>
                    </b-field>

                    <b-field label=""
                             v-if="login.type == 'reset'">
                        <b-button
                            :loading="btn_reset_code_loading"
                            @click="sendResetPasswordCode($event)">
                            Generate Reset Code
                        </b-button>
                    </b-field>

                    <b-field label="Enter OTP" v-if="login.type == 'otp'" grouped>
                        <b-field>
                            <b-input style="width:3em;"
                                     id="otp_0"
                                     maxlength="1"
                                     :has-counter="false"
                                     v-model="login.login_otp.otp_0"
                                     class="has-text-centered"
                                     @paste.native="onOtpPaste"
                                     @focus="$event.target.select()"
                                     @keyup.native="moveToElement($event, 'otp_1', null)"
                            ></b-input>
                        </b-field>
                        <b-field>
                            <b-input style="width:3em;"
                                     id="otp_1"
                                     maxlength="1"
                                     :has-counter="false"
                                     v-model="login.login_otp.otp_1"
                                     class="has-text-centered"
                                     @focus="$event.target.select()"
                                     @keyup.native="moveToElement($event, 'otp_2', 'otp_0')"
                            ></b-input>
                        </b-field>
                        <b-field>
                            <b-input style="width:3em;"
                                     id="otp_2"
                                     maxlength="1"
                                     :has-counter="false"
                                     v-model="login.login_otp.otp_2"
                                     class="has-text-centered"
                                     @focus="$event.target.select()"
                                     @keyup.native="moveToElement($event, 'otp_3', 'otp_1')"
                            ></b-input>
                        </b-field>
                        <b-field>
                            <b-input style="width:3em;"
                                     id="otp_3"
                                     maxlength="1"
                                     :has-counter="false"
                                     v-model="login.login_otp.otp_3"
                                     class="has-text-centered"
                                     @focus="$event.target.select()"
                                     @keyup.native="moveToElement($event, 'otp_4', 'otp_2')"
                            ></b-input>
                        </b-field>
                        <b-field>
                            <b-input style="width:3em;"
                                     id="otp_4"
                                     maxlength="1"
                                     :has-counter="false"
                                     v-model="login.login_otp.otp_4"
                                     class="has-text-centered"
                                     @focus="$event.target.select()"
                                     @keyup.native="moveToElement($event, 'otp_5', 'otp_3')">
                            </b-input>
                        </b-field>
                        <b-field>
                            <b-input style="width:3em;"
                                     id="otp_5"
                                     maxlength="1"
                                     :has-counter="false"
                                     v-model="login.login_otp.otp_5"
                                     class="has-text-centered"
                                     @focus="$event.target.select()"
                                     @keyup.native="moveToElement($event, null, 'otp_4')">
                            </b-input>
                        </b-field>

                    </b-field>

                    <b-field label=""
                             v-if="login.type == 'password'">
                        <b-input type="password"
                                 v-model="login.password"
                                 placeholder="Password"></b-input>
                    </b-field>

                    <div class="field">
                        <b-checkbox>Remember me</b-checkbox>
                    </div>

                    <div class="field ">
                        <b-radio v-model="login.type"
                                 type="is-info"
                                 native-value="reset">
                            Forgot Password? Reset now.
                        </b-radio>
                    </div>


                    <div v-if="login.type == 'reset'">

                        <b-field label="Enter reset Code">
                            <b-input expanded v-model="login.reset_password_code"
                                     type="password"></b-input>
                        </b-field>

                        <b-field label="New Password">
                            <b-input expanded
                                     v-model="login.password"
                                     type="password"></b-input>
                        </b-field>

                        <b-field label="Confirm Password">
                            <b-input expanded
                                     v-model="login.password_confirmation"
                                     type="password"></b-input>
                        </b-field>
                        <br/>
                    </div>

                    <div class="field">
                        <p class="control">

                            <b-button
                                v-if="login.type === 'reset'"
                                type="is-primary"
                                @click="resetPasswordAndLogin($event)"
                                :loading="is_btn_loading">
                                Reset & Login
                            </b-button>

                            <b-button
                                v-else
                                native-type="submit"
                                type="is-primary"
                                :loading="is_btn_loading">
                                Sign In
                            </b-button>

                            <a href="{{route('vh.frontend.<%= theme_name_lower %>.signup')}}"
                               class="button is-text is-pulled-right">
                                Sign Up
                            </a>

                        </p>
                    </div>

                </form>

            </div>
        </div>
        <!--/columns-->


    </div>
</div>
@endsection
