@extends("<%= theme_name_lower %>::frontend.layouts.default")

@section('vaahcms_extend_frontend_head')

@endsection

@section('vaahcms_extend_frontend_css')

@endsection

@section('vaahcms_extend_frontend_scripts')

@endsection

@section('content')
<h1><%= theme_name %></h1>
<p><b>Default Page.</b></p>
<p>This is the fallback page.</p>
@endsection
