@extends("<%= theme_name_lower %>::frontend.layouts.default")

@section('vaahcms_extend_frontend_head')

@endsection

@section('vaahcms_extend_frontend_css')

@endsection

@section('vaahcms_extend_frontend_scripts')

@endsection

@section('content')
<h1><%= theme_name %></h1>
<p>Welcome Page.</p>
<p>This page should contain welcome message which does not require any database to run.
You can write theme setup information.</p>
@endsection
