@extends("vaahcms::backend.vaahone.layouts.backend")

@section('vaahcms_extend_backend_css')

@endsection


@section('vaahcms_extend_backend_js')

    @if(env('APP_MODULE_<%= module_name_upper %>_ENV') == 'develop')
        <script src="http://localhost:8080/builds/app.js" defer></script>
    @else
        <script src="{{vh_module_assets_url("<%= module_name %>", "builds/app.js")}}"></script>
    @endif

@endsection

@section('content')

    <div id="app<%= module_name %>">

        <router-view></router-view>

        <vue-progress-bar></vue-progress-bar>

    </div>

@endsection
