@extends("vaahcms::backend.vaahone.layouts.backend")

@section('vaahcms_extend_backend_css')

@endsection


@section('vaahcms_extend_backend_js')
    <!--<script src="{{vh_module_assets_url("<%= module_name %>", "assets/js/script.js")}}"></script>-->
@endsection

@section('content')

    <!--sections-->
    <section class="section section has-padding-top-25 has-padding-left-25">
        <div class="container">
            <h1 class="title"><%= module_name %></h1>
            <h2 class="subtitle">
                Your <strong>"<%= module_name %>"</strong> module's dashboard is ready!
            </h2>
        </div>
    </section>
    <!--sections-->



@endsection
