@extends("vaahcms::backend.vaahone.layouts.backend")

@section('vaahcms_extend_backend_css')

@endsection


@section('vaahcms_extend_backend_js')

    @if(env('MODULE_<%= module_name_upper %>_ENV') == 'develop')
        <script type="module" src="http://localhost:<%= webpack_port %>/Vue/main.js"></script>
    @else
        <script type="module" src="{{vh_module_assets_url("<%= module_name %>", "build/index.js")}}"></script>
    @endif

@endsection

@section('content')

    <div class="primevue">
        <div id="app<%= module_name %>">


        </div>
    </div>

@endsection
