 <li class="nav-label  mg-t-25"><%= package_name %></li>


<li class="nav-item">
    <a href="{{route("vh.<%= package_name_lower %>")}}" class="nav-link">
        <i data-feather="file-text"></i> <span>Dashboard</span>
    </a>
</li>