@extends('vaahcms::backend.vaahone.layouts.backend')

@section('vaahcms_extend_backend_css')

@endsection


@section('vaahcms_extend_backend_js')
<!--<script src="{{vh_module_assets_url("<% module %>", "assets/js/script.js")}}"></script>-->
@endsection

@section('content')

  <!--sections-->
  <section class="section">
    <div class="container">
      <h1 class="title"><% module %></h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
    </div>
  </section>
  <!--sections-->


@endsection
