@extends("<%= theme_lower %>::frontend.layouts.default")

@section('vaahcms_extend_frontend_head')

@endsection

@section('vaahcms_extend_frontend_css')

@endsection

@section('vaahcms_extend_frontend_scripts')

    <!--<script src="{{vh_theme_assets_url("<%= theme %>", "build/app.js")}}"></script>-->

@endsection


@section('content')
<h1><%= name %></h1>
@endsection
