<!DOCTYPE html>
<html lang="en">

    @yield('vaahcms_extend_frontend_head')

    @yield('vaahcms_extend_frontend_css')

	<body>

	<?php

	//vh_get_modules_extended_views('menu');

	?>

    @include("vaahcms::frontend.partials.alerts")
    @include("vaahcms::frontend.partials.flash")

    @yield('content')


    @yield('vaahcms_extend_frontend_scripts')

	</body>
</html>
