@extends("<%= theme_name_lower %>::layouts.master")

@section('head')

@endsection


@section('scripts')

@endsection

@section('content')
<h1><%= theme_name %></h1>
<p><%= description %></p>
@endsection